<footer>
  <div class="content-members">
    <div class="content-members__person">
      <img class="content-members__image" src="./images/avatar.png" alt="">
      <p>mario</p>
    </div>
    <div class="content-members__person">
      <img class="content-members__image" src="./images/avatar.png" alt="">
      <p>andres</p>
    </div>
    <div class="content-members__person">
      <img class="content-members__image" src="./images/avatar.png" alt="">
      <p>javier</p>
    </div>
  </div>
  <div class="content-members">
    <div class="content-members__conditions">
      <ul class="content-members__list">
        <li class="content-members__item">
          terms and conditions
        </li>
        <li class="content-members__item">
          cookies
        </li>
        <li class="content-members__item">
          contact me
        </li>
      </ul>
    </div>
    <div class="content-members__conditions">
      <ul class="content-members__list">
        <li class="content-members__item">
          terms and conditions
        </li>
        <li class="content-members__item">
          cookies
        </li>
        <li class="content-members__item">
          contact me
        </li>
      </ul>
    </div>
  </div>
  <div class="content-reserve">
    <p>all terms reserve - 2020</p>
  </div>
</footer>