* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*
=========== FOOTER
*/
footer {
  background-color: rgb(158, 158, 158);
}


.content-members {
  display: flex;
}
.content-members__person, .content-members__conditions {
  display: block;
  margin: auto;
  text-align: center;
}
.content-members__conditions {
  padding-top: 20px;
}
.content-members__image {
  height: 100px;
}

.content-members__item {
  list-style: none;
  padding-top: 20px;
}

.content-reserve {
  text-align: center;
}